body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a {
   color: #0000FF;
   text-decoration: underline;
}
a:visited {
   color: #800080;
}
a:active {
   color: #FF0000;
}
a:hover {
   color: #0000FF;
   text-decoration: underline;
}
#wb_CssMenu1 {
   background-color: transparent;
   border: 0px #C0C0C0 solid;
}
#wb_CssMenu1 ul {
   display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   width: 150px;
}
#wb_CssMenu1 li {
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 150px;
}
#wb_CssMenu1 a {
   -moz-box-shadow: 2px 1px 0px #A9A9A9;
   -webkit-box-shadow: 2px 1px 0px #A9A9A9;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   box-shadow: 2px 1px 0px #A9A9A9;
   color: #FF4500;
   display: block;
   font-family: Arial;
   font-size: 16px;
   font-style: normal;
   font-weight: bold;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 138px;
}
#wb_CssMenu1 li:hover a,
#wb_CssMenu1 a:hover,
#wb_CssMenu1 .active {
   background-color: #FF4500;
   background-image: none;
   border: 1px #FFA07A solid;
   color: #FFFFFF;
}
#wb_CssMenu1 .firstmain a {
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain {
   padding-bottom: 0px;
}
#wb_CssMenu1 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu1 {
   height: 190px;
   left: 20px;
   position: absolute;
   text-align: center;
   top: 50px;
   width: 150px;
   z-index: 0;
}
